# Upload Images Into Uploadthing
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# For Initialization Of Clerk Authentication

JWT_SECRET=your-super-secret-key-here
# For Live Video Streaming
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
NEXT_PUBLIC_LIVEKIT_URL=